<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INDEX</title>
</head>
<body>
    <h1>Hello world</h1>
    <p>This is my first webpage!!!</p>
    <p>{{stuff|safe}}</p>
    <p>my favorite pizzas are {%for pizza in favorite_pizza%}
        {{pizza}} {%if not loop.last%}, {%else%}. {%endif%} {%endfor%}</p>
    <!--to access individual elements in the list-->
    {{favorite_pizza.1}}
</body>
</html>